<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Anthony Tran</title>
  </head>
  <body>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      
      body {
        font-family: "HelveticaNeueRegular", "HelveticaNeue-Regular", "Helvetica Neue Regular", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        margin: 20px 14px;
        max-width: 350px;
        line-height: 1.333em;
      }
    </style>
    Currently, I'm a producer at <a href="https://www.instagram.com/yours__truly__creative/" target="_blank">Yours Truly Creative</a>, an adjunct professor at <a href="https://www.sciarc.edu/" target="_blank">SCI-Arc</a>, and starting <a href="http://galleryat.art/" target="_blank">Gallery AT</a> in Austin, TX.
  </body>
</html>

