<!DOCTYPE html>
<html>
<head>
  <title>Anthony Dinh Tran</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Anthony Tran is a writer and producer based in Los Angeles.">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body {
      font-family: Roboto, monospace;
      font-size: calc(1em + 0.33vw);
      line-height: 1.4em;
      max-width: 520px;
      background-color: #ececec;
    }
    h1 {
      display: inline-block;
      font-size: calc(1em + 0.33vw);
      font-weight: normal;
    }
    img { 
      width: 200px; 
      margin-top: 1em;
    }
    body > div { margin: 0 2em 0 1em; }
  </style>
</head>
<body>
  <img src="/img/flat_home/anthony-tran_headshot.png" />

  <div>
    <h1><a href="mailto:studio+www@anthonytran.info">anthony dinh tran</a></h1><br />
    ❍ editor of <a target="_blank" href="https://lamovingimage.com/">L.A. Review of the Moving Image</a><br />
    ❍ digital + editorial consultant<br />
    ❍ adjunct faculty at SCI–Arc · MA candidate, EGS<br />
    ❍ grew up in a Times Square hotel; now in L.A.
  </div>
  
  <img src="/img/flat_home/mushroom.jpg" />
  
  <div>
    <strong>recent writing</strong>
    <br />
    ❍
    <em>3 Women</em>, an original play
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;— adapted Altman; written & directed staged reading in Los Angeles, May 2026
    <br / >
    ❍
    <a href="https://www.instagram.com/for____scale/reel/DYCuMjythFm/">
      Rest Room
    </a> in <em>For Scale</em> Issue 3
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;— 1st Place Winner of the 
    "For Scale Prize for Very Good Décor Criticism"
    <br />

    ❍
    <a href="https://lareviewofbooks.org/article/eaton-fire-altadena-house-rebuilding-insurance-damages/" target="_blank">When the Flames Went Out</a> in <em>L.A. Review of Books</em>
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;— <a href="https://longreads.com/2026/02/03/rebuilding-altadena-eaton-fire/" target="_blank">Longreads Pick</a>
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;— Featured on <a href="https://lithub.com/lit-hub-daily-february-2-2026/" target="_blank">Literary Hub</a>
    <br />
    
    ❍
    <a href="https://www.instagram.com/p/DSN5KkMkiZY/" target="_blank">Review of A.S. Hamrah's Last Week in End Times Cinema</a>
    in <em>The Whitney Review of New Writing</em> Issue 006
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;— "It’s by far the best-written piece the book has got."– A.S. Hamrah
  </div>
  
  <img src="/img/flat_home/earth.jpg" />

  <div>
    <strong>work</strong>
    <br />
    ❍ ongoing — writing a book, developing film projects, rebuilding an archive
    <br />
    ❍ experience — before shifting toward writing and film, I worked with a wide mix of cultural and commercial partners:
    Triple Canopy, Walker Art Center, Verso Books, Spotify for Artists, Facebook’s Factory team, Nike ID, HBO,
    Netflix, WeTransfer, Vespertine, J. Hannah Jewelry, Tartine Bakery, Sweet Flower, Mudd Pearl, SCI-Arc,
    Pokémon, Danspace Project, and others — building publication platforms, artist tools, algorithms,
    livestreams, and creative systems.
  </div>

  <!-- <div>
    <strong>work</strong>
    I’ve built digital and editorial projects with cultural and commercial partners including Triple Canopy, Walker Art Center, Verso Books, Spotify, Nike, HBO, Netflix, WeTransfer, and others.
    My work spans publication platforms, creative tooling, algorithmic systems for artists, and strategies for institutions adapting to new technology.
  </div>

  <div>
    <strong>practice</strong>
    I write about media, infrastructure, and the aesthetics of everyday systems; make films and photographic documents; and develop experiments at the intersection of art, criticism, and software.
    Occasionally: teaching, consulting, rebuilding an archive, tending a garden.
  </div> -->


  <!-- <div>
    <strong>older things</strong><br />
    ❍ writing — 
      <a href="https://anthonytran.info/blog/2019/10/30/on-pg-e-and-the-autumnal-wildfires.html" target="_blank"><em>On PG&E and the Autumnal Wildfires</em> (2019)</a>
      <a href="https://medium.com/@atran/2018-we-dumb-the-world-sucks-because-algocracy-88945dd2fadb" target="_blank"><em>Algocracy</em> (2018)</a>, 
      <a href="https://walkerart.org/magazine/lonelygirl-confess-online" target="_blank"><em>#tbt lonelygirl</em> (2015)</a>, 
    <br />
    ❍ artwork — 
      <a href="https://medium.com/@atran/love-thyselfie-what-is-intimacy-online-12c61af0c728" target="_blank"><em>LOVE THY SELFIE</em> (2015)</a>, 
      <a href="https://vimeo.com/43341047" target="_blank"><em>wire less</em> (2012)</a>, 
      <a href="https://vimeo.com/42938038" target="_blank"><em>touch screen</em> (2010)</a>
  </div> -->

  <img src="/img/flat_home/merlin.jpg" />

  <div>
    <strong>elsewhere</strong><br />
    ❍ <a href="https://letterboxd.com/atran" target="_blank">Letterboxd</a><br />  
    ❍ <a href="https://informalsurvey.substack.com" target="_blank">Substack</a>
  </div>
  
  <img src="/img/flat_home/my_star.png" />
</body>
</html>
