<head>
  <title>Anthony Tran</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Anthony Tran is a biome (he/they).">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36861842-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-36861842-1');
  </script>
  
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: Roboto, monospace;
      font-size: calc(1em + 0.33vw);
      line-height: 1.4em;
      max-width: 680px;
      background-color: #ececec;
    }
    h1 {
      display: inline-block;
      font-size: calc(1em + 0.33vw);
      font-weight: normal;
    }
    img {
      width: 200px;
    }
    body > div {
      margin: 0 2em 0 1em;
    }
  </style>
</head>
<body>
  <img src="/img/flat_home/anthony-tran_headshot.png" />

  <div>
    <br />
    <h1><a href="mailto:studio+www@anthonytran.info">anthony tran</a> is a biome;</h1>
    <br />– works as a freelance digital consultant: strategy, creative & coding;
    <br />– sporadically at European Graduate School for an MA, studying the philosophy of crisis, ecology, and economy;
    <br />– grew up in a hotel in Times Square and recently moved out of LA.  
    <br />
  </div>
  
  <br />
  <img src="/img/flat_home/mushroom.jpg" />
  <br />

  <div>
    <br />
    things i've done with others:

    <br />– developed publication platforms for
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Triple Canopy
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Walker Art Center
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Verso Books
      
    <br />– coded websites for
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Netflix
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ WeTransfer
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Vespertine

    <br />– created algorithms for artist projects for
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Park McArthur
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Renée Reizman
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Future Farmers

    <br />– made interactive livestreams for
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ SCI-Arc
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Pokémon
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Danspace Project

    <br />– strategized e-comm for
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ J. Hannah Jewelry
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Tartine Bakery
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Sweet Flower
    
    <br />– consulted about Gen Z for
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Facebook (Factory)
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Nike (ID)
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ HBO
      
    <br />– & various other projects such as
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ curated & created art with CAGE, a LES collective/gallery
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ built the Mediatheque, an on-demand micro-movie theater
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ directed rom-com compilation commercials for Netflix
    <br />
  </div>

  <br />
  <img src="/img/flat_home/earth.jpg" />
  <br />

  <div>
    <br />
    other things i have done:
    <br />– artwork
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ <a href="https://medium.com/@atran/love-thyselfie-what-is-intimacy-online-12c61af0c728" target="_blank">LOVE THY SELFIE (2015)</a>
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ <a href="https://vimeo.com/43341047" target="_blank">Wire less (2012)</a>
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ <a href="https://vimeo.com/42938038" target="_blank">touch screen (2010)</a>

    <br />– writing
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ <a href="https://medium.com/@atran/2018-we-dumb-the-world-sucks-because-algocracy-88945dd2fadb" target="_blank">2018: We Dumb & The World Sucks Because Algocracy</a>
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ <a href="https://walkerart.org/magazine/lonelygirl-confess-online" target="_blank">#tbt lonelygirl: confessing online</a>
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ <a href="https://anthonytran.info/blog/2019/10/30/on-pg-e-and-the-autumnal-wildfires.html" target="_blank">On PG&E and the 2019 Autumnal Wildfires</a>

    <br />– friends
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ TK

    <br />– photography
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ TK

    <br />– parties
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ TK

    <br />– travel
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ TK

    <br />– college research labs
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ reading retention (Psychology)
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ Internet fragmentation (Comp Sci)
      <br />&nbsp;&nbsp;&nbsp;&nbsp;❍ new media installation (HMCS)
    <br />
  </div>

  <br />
  <img src="/img/flat_home/merlin.jpg" />
</body>
</html>
