---
layout: page
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/em-ak/okcss/dist/ok.min.css" />

<style type="text/css">
  .galleries-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-wrapper {
    text-align: center;
    padding: 1em 0 4em 0;
    flex: 1 1 50%; /* Grow to fill the space but base at 50% of the container width */
    min-width: 300px; /* Set a minimum width for the columns to drop below before wrapping */
    padding: 10px;
  }

  .gallery-wrapper img {
    border: 6px solid white;
  }
</style>


<h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
<hr />

<div class="galleries-wrapper">
{% for gallery in page.galleries %}
<div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}">
        <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
    </a>
    <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
    {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
</div>
{% endfor %}
</div>

we can have a glass of wine while we wait