---
layout: page
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery-bundle.min.css" integrity="sha512-nUqPe0+ak577sKSMThGcKJauRI7ENhKC2FQAOOmdyCYSrUh0GnwLsZNYqwilpMmplN+3nO3zso8CWUgu33BDag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
<hr />

<div class="gallery-image-wrapper" id="lightgallery">
{% for image in page.images %}
  <a name="{{ image.name }}" href="{{ image.name }}">
      <img class="gallery-image" src="thumbs/{{ image.name }}" />
  </a>
{% endfor %}
</div>


<script type="module">
  import lightGallery from 'https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/+esm';
  import lgThumbnail from 'https://cdn.jsdelivr.net/npm/lightgallery/plugins/thumbnail/lg-thumbnail.es5.js';
  import lgZoom from 'https://cdn.jsdelivr.net/npm/lightgallery/plugins/zoom/lg-zoom.es5.js';

  lightGallery(document.getElementById('lightgallery'), {
      plugins: [lgZoom, lgThumbnail],
      speed: 500,
  });
</script>