---
layout: page
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/em-ak/okcss/dist/ok.min.css" />

<style type="text/css">
.gallery-wrapper {
  text-align: center;
  padding: 1em 0 4em 0;
}

.gallery-wrapper img {
  border: 6px solid white;
}

</style>


<h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
<hr />

{% for gallery in page.galleries %}
<div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}">
        <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
    </a>
    <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
    {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
</div>
{% endfor %}

we can have a glass of wine while we wait