---
layout: default
---

<div class="home">
  <head>
      <title>{{ site.title }}</title>
  </head>

  <div class="home-title">
    <p>
      <a href="/" class="name">Anthony Tran</a>
      works across technology, publication, and&nbsp;art.
      <span class="more">&#8628;</span>
    </p>
    <ul class="overview-list hidden">
      <li>currently pursuing an MA at European Graduate School in Philosophy and Art.</li>
      <li>formerly of <a href="https://www.stinkstudios.com/" target="_blank">Stink Studios</a>, <a href="https://walkerart.org/" target="_blank">Walker Art Center</a> and <a href="http://canopycanopycanopy.com/" target="_blank">Triple Canopy</a>.</li>
      <li>grew up in a hotel in Times Square and recently moved out of LA.</li>
      <li>extremely online in a specific way but probs better face-to-face.</li>
      <li><a href="https://docs.google.com/document/d/1r_mZo4SGg8Wy8UuM3JYbkpns9PxP7tSAlSSoBeIH3Vw/edit?usp=sharing" target="_blank">résumé & art projects</a>
        /
        <a href="mailto:{{ site.email }}">email me</a>
      </li>

    </ul>
  </div>

  <script>
      const homeTitleEl = document.querySelector('.home-title');
      const moreEl = document.querySelector('.more');

      function revealMoreInfo() {
        homeTitleEl.classList.add('show-list');
      }

      moreEl.addEventListener('click', revealMoreInfo);
  </script>


  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
      {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  
      {% if forloop.first %}
      <h2 id="{{ this_year }}-ref" class="post-year">{{this_year}}</h2>
      <ul>
      {% endif %}
  
      <li>
          {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">
            {{ post.date | date: date_format }}
          </span>
          <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </li>
  
      {% if forloop.last %}
      </ul>
      {% else %}
          {% if this_year != next_year %}
          </ul>
          <h2 id="{{ next_year }}-ref" class="post-year">{{next_year}}</h2>
          <ul>
          {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
  {%- endif -%}
</div>
