<head>
	<title>Anthony Tran</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Anthony Tran is a technologist and writer.">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/dejavu-sans-mono" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
	<style>
		body {
			font-family: 'DejaVuSansMono', monospace;
      font-size: calc(1rem + 2px + ((100vw - 1050px) / 250));
      line-height: 1.4em;
      max-width: 60ch;
      padding: 2rem 1.5rem;
		}

		a { color: #000; }
		a:hover { color: #FF8B99; }

		.name {
			background: #FF697C;
			background: #FF8B99;
			border-radius: 0.1rem;
			color: #fff;
			padding: 0.125rem 0.4rem 0.1rem 0.4rem;
		}
    
		p, ul {
			margin-bottom: 1.85rem;
		}

		@supports (-webkit-overflow-scrolling: touch) {
			p:last-child {
				padding-bottom: 3rem;
			}
		}
    
	</style>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36861842-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-36861842-1');
	</script>

</head>
<body>
	<div id="content">
		<p><span class="name">anthony tran</span> works across technology, publication, and&nbsp;art;</p>
    <ul class="overview-list hidden">
      <li>currently pursuing an MA at European Graduate School in Philosophy and Art.</li>
      <li>formerly of <a href="https://www.stinkstudios.com/" target="_blank">Stink Studios</a>, <a href="https://walkerart.org/" target="_blank">Walker Art Center</a>, and <a href="http://canopycanopycanopy.com/" target="_blank">Triple Canopy</a>.</li>
      <li>grew up in a hotel in Times Square and recently moved out of LA.</li>
      <li>extremely online in a specific way but probs better face-to-face.</li>
    </ul>

		<h2 class="mb4 title">
			links:
		</h2>
		<ul>
			<li><a href="mailto:studio+www@anthonytran.info">Email</a></li>
			<li><a href="https://letterboxd.com/atran/" target="_blank">Letterboxd</a></li>
			<li><a href="http://instagram.com/nthonytran" target="_blank">Instagram</a></li>
			<li><a href="https://medium.com/@atran/" target="_blank">Medium</a></li>
			<li><a href="https://www.linkedin.com/in/anthonydtran/" target="_blank">LinkedIn</a></li>
			<li><a href="https://docs.google.com/document/d/1r_mZo4SGg8Wy8UuM3JYbkpns9PxP7tSAlSSoBeIH3Vw/edit?usp=sharing" target="_blank">Résumé & Art Projects</a></li>
			<li><a href="https://github.com/atran" target="_blank">GitHub</a></li>
		</ul>

		<h2 class="mb4 title">
			selected writing:
		</h2>
		<ul>
			<li><a href="https://anthonytran.info/blog/2019/10/30/on-pg-e-and-the-autumnal-wildfires.html">On PG&E and the 2019 Autumnal Wildfires</a></li>
			<li><a href="https://medium.com/@atran/2018-we-dumb-the-world-sucks-because-algocracy-88945dd2fadb" target="_blank">2018: We Dumb & The World Sucks Because Algocracy</a></li>
			<li><a href="https://walkerart.org/magazine/lonelygirl-confess-online" target="_blank">#tbt lonelygirl: confessing online</a></li>
			<li><a href="https://medium.com/@atran/post-like-its-2009-year-in-review-reviewed-b9c153fa32d4" target="_blank">Post Like It's 2009: Year-In-Review Reviewed</a></li>
			<li><a href="https://walkerart.org/magazine/superscript-website-design" target="_blank">On SuperScript's Website Design</a></li>
		</ul>

		<h2 class="mb4 title">
			selected art work:
		</h2>
		<ul>
			<li><a href="https://www.reneereizman.com/Public-Benefit-Projects" target="_blank">Public Benefit Projects (2017)</a>, site-specific installation: retrofitted payphone</li>
			<li><a href="http://yaleunion.org/mcarthur/" target="_blank">Files (2015)</a>, installation & algorithmic concept</li>
			<li><a href="https://constantinazavitsanos.com/artwork/3295444-prospectus-final-notice-gold-bills-produced-by-CAGE.html" target="_blank">Prospectus: Final Notice (2012-2013)</a>, object: gold "bills"</li>
			<li><a href="http://northern.lights.mn/projects/anthony-tran-wire-less/" target="_blank">Wire less (2012)</a>, projection installation: mapping signals onto bodies</li>
			<li><a href="https://vimeo.com/7974682#t=98s" target="_blank">touch screen (2010)</a>, projection installation: exploring touch within the virtual</li>
		</ul>

		<h2 class="mb4 title">
			selected commercial projects:
		</h2>
		<ul>
			<li><a href="https://vimeo.com/310402109" target="_blank">Pok&eacute;mon Badge Collector</a>, a Twitch extension where you can catch Pok&eacute;mon while you watch... Pok&eacute;mon</li>
			<li>Netflix Summer of Love videos: <a href="https://vimeo.com/286808696">(1)</a>, <a href="https://vimeo.com/286808758">(2)</a>, <a href="https://vimeo.com/286808719">(3)</a>, <a href="https://vimeo.com/286808269">(4)</a>, a social  campaign I directed
			<li><a href="https://www.sweetflower.com/" target="_blank">SweetFlower</a>, an e-commerce marijuana website</li>
			<li><a href="http://amessagefrom.earth/">A Message From Earth</a>, a website that pays tribute to NASA's Golden Record</li>
			<li><a href="https://www.stinkstudios.com/work/netflix-flixtape" target="_blank">Netflix Flixtape</a>, a website that used machine learning (in 2015) to translate language into movie genres</li>
		</ul>


		<h2 class="mb4 title">
			a brief history:
		</h2>

		<p>2019</p>
		<ul class="list">
			<li>Published LOVE THYSELFIE, 2015-2016 at the first Tiny Tech Zines</li>
			<li>Worked at Hello Design as the <span class="name">Director of Innovation</span>, leading a multi-disciplinary and technology-driven, team on clients such as SweetFlower and Tillamook</li>
		</ul>

		<p>2018</p>
		<ul class="list">
			<li>Managed Kablito, a Latinx pop musician, providing services such as EP/single digital distibution, a release party sponsored by Red Bull, and advising on legal contracts</li>
		</ul>

		<p>2018-2015</p>
		<ul class="list">
			<li>Worked at Stink Studios as an <span class="name">Associate Technical Director</span> and sometimes <span class="name">Copywriter</span>: end-to-end production, from pitches to scoping to creative to project management to development and delivery</li>
			<li>
				Favorite projects at Stink Studios:
				<a href="https://www.stinkstudios.com/work/pokemon-badge-collector" target="_blank">Twitch Pok&eacute;mon Badge Collector</a>,&nbsp;
				<a href="https://www.youtube.com/watch?v=q3KvplxAXrA" target="_blank">Netflix Summer of Love</a>,&nbsp;
				<a href="https://www.stinkstudios.com/work/give-kudos" target="_blank">Strava Give Kudos</a>,&nbsp;
				<a href="https://www.stinkstudios.com/work/netflix-flixtape" target="_blank">Netflix Flixtape</a>
			</li>
			<li>Other featured clients: Amazon, Nike, Facebook, and YouTube</li>
		</ul>

		<p>2016</p>
		<ul class="list">
			<li>Presented <a href="https://mw2016.museumsandtheweb.com/proposal/the-walker-art-centers-mediatheque-enabling-open-access-to-the-archive-within-a-cinema-experience/" target="_blank">The Walker Art Center's Mediatheque: Enabling Open Access to the Archive Within A Cinema Experience</a> at Museums and the Web 2016 conference</li>
		</ul>

		<p>2015</p>
		<ul class="list">
			<li>Created the website and assisted in the production for <a href="Superscript: Arts Journalism and Criticism in a Digital Age">"Superscript: Arts Journalism and Criticism in a Digital Age"</a>, a <span class="name">conference on the future of online publications</span></li>
			<li>Moved to Los Angeles, CA</li>
		</ul>

		<p>2014</p>
		<ul class="list">
			<li>Moved to Minneapolis, MN as the <span class="name">Technologist at the Walker Art Center</span></li>
			<li>Worked at the Third Rail Quarterly as an <span class="name">Assistant Editor</span></li>
		</ul>

		<p>2013</p>
		<ul class="list">
			<li>Worked at <span class="name">Triple Canopy as their Editorial Technologist</span>, launching their 3.0 platform and assisting with party productions</li>
			<li>Had a <span class="name">talk at Macalester College</span>: <a href="https://webapps.macalester.edu/calendar/event.cfm?id=20934" target="_blank">"Slowing Down the Internet: Publishing in the Expanded Field"</a>
			<li>Co-owned and curated performance-driven and material projects at CAGE, a <span class="name">gallery in the Lower East Side</span></li>
		</ul>

		<p>2012</p>
		<ul class="list">
			<li>Moved back to New York, NY</li>
			<li>Presented the installation, <a href="http://northern.lights.mn/projects/anthony-tran-wire-less/">Wire less</a>, at AOV3, a <span class="name">group exhibition</span> at The Soap Factory</li>
		</ul>

		<p>2011</p>
		<ul class="list">
			<li>Graduated <span class="name">Macalester College</span>, with a degree in Psychology and minors in Computer Science and Media & Cultural Studies</li>
			<li>Presented an <span class="name">installation</span> <a href="https://www.flickr.com/photos/58814115@N04/6000148216/" target="_blank">Security Gate 26.11</a> at Northern Spark, an overnight new media arts festival</li>
			<li>Received and started the fellowship, <span class="name">Artist on the Verge</span></li>
			<li>Started an internship at space150</li>
		</ul>

		<p>2010</p>
		<ul class="list">
			<li>Led the <span class="name">workshop</span> <a href="http://www.futurefarmers.com/buildingavoicebox/documentation/0818/index.html" target="_blank">"How to Build a Voicebox II : Pirate Radio"</a> at the Walker Art Center, in collaborationa with Future Farmers</li>
			<li>Worked in 3 college labs: cognitive psychology and reaction tracking with Brooke Lea, cultural computer science and the fragmentation of the Internet with Shilad Sen, and new media installation with John Kim</li>
		</ul>

		<p>2009</p>
		<ul class="list">
			<li>
				Created and presented an <span class="name">installation</span>, <a href="https://vimeo.com/7974682#t=98s" target="_blank">Touch Screen</a> at&nbsp;
				Workhorse</a>
			</li>
		</ul>

		<p>2007</p>
		<ul class="list">
			<li>Graduated Culver Academies at the <span class="name">rank of Captain</span> and title of Aide to the Commadant; also held positions as the commander of the Troop unit and the Lancers specialty platoon</li>
			<li>Started attending Macalester College, in St. Paul, MN</li>
		</ul>

		<p>2003</p>
		<ul class="list">
			<li>Started attending high school at the <span class="name">Culver Academies</span> in Culver, IN</li>
		</ul>


		<p>1998</p>
		<ul class="list">
			<li>Started attending middle school at <span class="name">LeMans Academy</span>, an all-boys, Catholic military school, in Rolling Prairie, IN</li>
		</ul>

		<p>1994</p>
		<ul class="list">
			<li>Moved to the <a href="https://www.nytimes.com/2005/11/20/nyregion/what-do-you-expect-for-9923-a-night.html">Hotel Carter</a> from the <a href="https://www.nytimes.com/1994/06/10/us/kenmore-hotel-the-place-at-the-end-of-the-line.html" target="_blank">Hotel Kenmore</a></li>
		</ul>
	</div>
</body>
